<header>
  <img src="../../../../../assets/png/about-header-small.png"
    data-src="../../../../../assets/png/about-header-large.png" class="lazyload" alt="header-background">
    <div class="front"></div>
    <div class="container">
  <div class="text">
    <p class="who">Who we are</p>
    <p class="p-desc">Lorem ipsum dolor sit amet.</p>
    <p class="end">Lorem ipsum dolor</p>
  </div>
</div>
</header>
<main>
<div class="container">
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus dictum eleifend mi ut convallis.
  </p>
 <span>Our Team</span>
  <app-avatar-section [avatar]='person1.avatar' [name]='person1.name' [desc]='person1.desc'></app-avatar-section>
  <app-avatar-section [avatar]='person2.avatar' [name]='person2.name' [desc]='person2.desc'></app-avatar-section>
  <app-avatar-section [avatar]='person3.avatar' [name]='person3.name' [desc]='person3.desc'></app-avatar-section>
</div>
</main>