@import '_flex';
@import '_color-pallete';
@import 'media';

header {
    width: 100%;
    height: 100%;
    position: relative;
  
    img {
      width: 100%;
      height: 100%;
      display: block;
      object-fit: cover;
    }
  
    .front {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        opacity: 0.6;
        background-color: black;

      p {
          color: color(light);
          font-weight: bold;
      }

      .who {
          margin: 15% 0 0 15%;
      }

      .desc {
          margin: .5em 0 0 20%;
      }

      .last {
          margin: 2em 0 0 50%; 
      }
    }

    .category {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        z-index: 2;

        p {
            color: color(light);
            font-weight: bold;
        }
  
        .who {
            margin: 15% 0 0 10%;
        }
  
        .desc {
            margin: .5em 0 0 15%;
        }
  
        .end {
            margin: 5em 0 0 50%; 
        }
    }
}