@import 'flex';
@import 'color-pallete';
@import 'media';
@import 'keyframes';
@include fadeIn;

article:hover {
  transition: .5s;
  transform: scale(1.1);
}

article {
  width: 280px;
  height: 200px;
  position: relative;
  margin: 1em;
  color: color(light);
  transition: .5s;
  transform: scale(1);
  outline: none;
  cursor: pointer;
  overflow: hidden;
  box-shadow: rgb(38, 57, 77) 0px 15px 30px -10px;

  .read-article {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: 5;

    p {
      font-weight: bold;
      position: absolute;
      bottom: 10%;
      right: 5%;
      visibility: hidden;
      background: none !important;
    }
  }

  .read-article:hover {
    background-color: rgba(0, 0, 0, 0.4);
  }

  .read-article:hover>p {
    visibility: visible;
    animation: fadeIn 0.2s linear;
  }

  img {
    width: 100%;
    height: 100%;
    position: relative;
    object-fit: cover;
  }

  .category {
    position: absolute;
    top: 0;
    left: 0;
    font-weight: bold;
    padding: 5px 8px;
    border-radius: 0 7px 7px 7px;
  }

  .Category1 {
    background-color: color(category1);
    text-shadow: 2px 2px color(category1);
  }

  .Category2 {
    background-color: color(category2);
    text-shadow: 2px 2px color(category2);
  }

  .Category3 {
    background-color: color(category3);
    text-shadow: 2px 2px color(category3);
  }

  .Category4 {
    background-color: color(category4);
    text-shadow: 2px 2px color(category4);
  }

  .Category5 {
    background-color: color(category5);
    text-shadow: 2px 2px color(category5);
  }

  .description {
    position: absolute;
    bottom: 0;
    left: 1em;
    width: 180px;
    padding-bottom: 1em;
    overflow: auto;
  }
}

@include for-phone-up {
  article {
    width: 420px;
    margin-top: 3em;

    img {
      height: 100%;
    }
  }
}

@include for-desktop-up {

  article {
    flex-grow: 1;
    width: 405px;
    height: 405px;
    margin: 2em;
  }
}

[data-scroll] {
  transition: opacity 0.6s;
}

[data-scroll="in"] {
  opacity: 1;
}

[data-scroll="out"] {
  opacity: 0;
}
