<main>
  <section class="main-articles">
    <div class="container">
      <article class="article1" [routerLink]="['/category1/article1']">
        <img src="../../../assets/png/article1-img-lazy.png"
         data-src="../../../assets/png/article1-img.png"
          class="lazyload" alt="article1-background">
        <div class="category1 category">
          <p>Category1</p>
        </div>
        <div class="description">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
        </div>
        <div class="read-article p1">
          <p>read more...</p>
        </div>
      </article>
      <div class="wrapper">
        <article class="article2" [routerLink]="['/category2/article2']">
          <img src="../../../assets/png/article2-img-lazy.png"
           data-src="../../../assets/png/article2-img.png"
            class="lazyload" alt="article2-background">
          <div class="category2 category">
            <p>Category2</p>
          </div>
          <div class="description">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
          </div>
          <div class="read-article p2">
            <p>read more...</p>
          </div>
        </article>
        <article class="article3" [routerLink]="['/category3/article3']">
          <img src="../../../assets/png/article3-img-lazy.png"
           data-src="../../../assets/png/article3-img.png"
            class="lazyload" alt="article3-background">
          <div class="category3 category">
            <p>Category3</p>
          </div>
          <div class="description">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
          </div>
          <div class="read-article p3">
            <p>read more...</p>
          </div>
        </article>
      </div>
    </div>
  </section>
  <section class="other-articles">
    <div class="container">
      <article class="article4" [routerLink]="['/category1/article4']">
        <img src="../../../assets/png/article4-img-lazy.png"
         data-src="../../../assets/png/article4-img.png"
          class="lazyload" alt="article4-background">
        <div class="category1 category">
          <p>Category1</p>
        </div>
        <div class="description">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
        </div>
        <div class="read-article p1">
          <p>read more...</p>
        </div>
      </article>
      <article class="article5" [routerLink]="['/category5/article5']">
        <img src="../../../assets/png/article5-img-lazy.png"
         data-src="../../../assets/png/article5-img.png"
          class="lazyload" alt="article5-background">
        <div class="category5 category">
          <p>Category5</p>
        </div>
        <div class="description">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
        </div>
        <div class="read-article p5">
          <p>read more...</p>
        </div>
      </article>
      <article class="article6" [routerLink]="['/category4/article6']" data-scroll>
        <img src="../../../assets/png/article6-img-lazy.png"
         data-src="../../../assets/png/article6-img.png"
          class="lazyload" alt="article6-background" loading="lazy">
        <div class="category4 category">
          <p>Category4</p>
        </div>
        <div class="description">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
        </div>
        <div class="read-article p4">
          <p>read more...</p>
        </div>
      </article>
      <article class="article7" [routerLink]="['/category3/article7']" data-scroll>
        <img src="../../../assets/png/article7-img-lazy.png"
         data-src="../../../assets/png/article7-img.png"
          class="lazyload" alt="article7-background" loading="lazy">
        <div class="category3 category">
          <p>Category3</p>
        </div>
        <div class="description">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
        </div>
        <div class="read-article p3">
          <p>read more...</p>
        </div>
      </article>
      <article class="article4" [routerLink]="['/category1/article4']" data-scroll>
        <img src="../../../assets/png/article4-img-lazy.png"
         data-src="../../../assets/png/article4-img.png"
          class="lazyload" alt="article4-background" loading="lazy">
        <div class="category1 category">
          <p>Category1</p>
        </div>
        <div class="description">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
        </div>
        <div class="read-article p1">
          <p>read more...</p>
        </div>
      </article>
      <article class="article5" [routerLink]="['/category5/article5']" data-scroll>
        <img src="../../../assets/png/article5-img-lazy.png"
         data-src="../../../assets/png/article5-img.png"
          class="lazyload" alt="article5-background" loading="lazy">
        <div class="category5 category">
          <p>Category5</p>
        </div>
        <div class="description">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
        </div>
        <div class="read-article p5">
          <p>read more...</p>
        </div>
      </article>
      <article class="article6" [routerLink]="['/category4/article6']" data-scroll>
        <img src="../../../assets/png/article6-img-lazy.png"
         data-src="../../../assets/png/article6-img.png"
          class="lazyload" alt="article6-background" loading="lazy">
        <div class="category4 category">
          <p>Category4</p>
        </div>
        <div class="description">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
        </div>
        <div class="read-article p4">
          <p>read more...</p>
        </div>
      </article>
      <article class="article7" [routerLink]="['/category3/article7']" data-scroll>
        <img src="../../../assets/png/article7-img-lazy.png"
         data-src="../../../assets/png/article7-img.png"
          class="lazyload" alt="article7-background" loading="lazy">
        <div class="category3 category">
          <p>Category3</p>
        </div>
        <div class="description">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
        </div>
        <div class="read-article p3">
          <p>read more...</p>
        </div>
      </article>
    </div>
  </section>
</main>
