<main>
  <div class="container">
    <article class="article1" routerLink="/Category1">
      <img src="../../../assets/png/article1-img-lazy.png" data-src="../../../assets/png/article1-img.png"
        class="lazyload" alt="article1-background">
      <div class="category1 category">
      </div>
      <div class="front">
          <p>Category1</p>
      </div>
    </article>
    <article class="article2" routerLink="/Category2">
      <img src="../../../assets/png/article2-img-lazy.png" data-src="../../../assets/png/article2-img.png"
        class="lazyload" alt="article2-background">
      <div class="category2 category">
      </div>
      <div class="front">
          <p>Category2</p>
      </div>
    </article>
    <article class="article3" routerLink="/Category3">
      <img src="../../../assets/png/article3-img-lazy.png" data-src="../../../assets/png/article3-img.png"
        class="lazyload" alt="article3-background">
      <div class="category3 category">
      </div>
      <div class="front">
          <p>Category3</p>
      </div>
    </article>
    <article class="article6" routerLink="/Category4" data-scroll>
      <img src="../../../assets/png/article6-img-lazy.png" data-src="../../../assets/png/article6-img.png"
        class="lazyload" alt="article6-background">
      <div class="category4 category">
      </div>
      <div class="front">
         <p>Category4</p> 
      </div>
    </article>
    <article class="article5" routerLink="/Category5">
      <img src="../../../assets/png/article5-img-lazy.png" data-src="../../../assets/png/article5-img.png"
        class="lazyload" alt="article5-background">
      <div class="category5 category">
      </div>
      <div class="front">
          <p>Category5</p>
      </div>
    </article>
  </div>
</main>
