<main>
    <div class="small container">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus dictum eleifend mi ut convallis.
      </p>
      <span>Our Team</span>
    </div>
    <div class="container">
      <app-avatar-section [avatar]='person1.avatar' [name]='person1.name' [desc]='person1.desc'></app-avatar-section>
      <app-avatar-section [avatar]='person2.avatar' [name]='person2.name' [desc]='person2.desc'></app-avatar-section>
      <app-avatar-section [avatar]='person3.avatar' [name]='person3.name' [desc]='person3.desc'></app-avatar-section>
    </div>
  </main>