<footer>
  <div class="container">
    <section class="footer-header">
      <h2>Blog</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    </section>
    <div class="wrapper">
      <section class="footer-header footer-header-desktop">
        <h2>Blog</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      </section>
      <section>
        <div class="flex">
          <h3>Explore</h3>
          <ul>
            <li>
              <a routerLinkActive="activeLink" routerLink="/">Homepage</a>
            </li>
            <li>
              <a routerLinkActive="activeLink" routerLink="/blog">Blog</a>
            </li>
            <li>
              <a routerLinkActive="activeLink" routerLink="/about">About</a>
            </li>
            <li>
              <a routerLinkActive="activeLink" routerLink="/contact">Contact</a>
            </li>
          </ul>
        </div>
      </section>
      <section class="follow">
        <div class="flex">
          <h3>Follow</h3>
          <ul>
            <li><a href="https://www.linkedin.com/">
                <img src="assets/svg/linkedin.svg"> Linkedin</a>
            </li>
            <li>
              <a href="https://www.snapchat.com/">
                <img src="assets/svg/snapchat.svg"> Snapchat</a>
            </li>
            <li>
              <a href="https://www.facebook.com/">
                <img src="assets/svg/facebook.svg"> Facebook</a>
            </li>
            <li><a href="https://www.instagram.com/">
                <img src="assets/svg/instagram.svg"> Instagram</a>
            </li>
          </ul>
        </div>
      </section>
      <section class="legal">
        <div class="flex">
          <h3>Legal</h3>
          <ul>
            <li>
              <a routerLinkActive="activeLink" routerLink="/terms">Terms</a></li>
            <li>
              <a routerLinkActive="activeLink" routerLink="/privacy">Privacy</a>
            </li>
            <li>
              <a routerLinkActive="activeLink" routerLink="/cookies">Cookies</a>
            </li>
          </ul>
        </div>
      </section>
    </div>
    <section class="copyrights">
      <div class="flex">
        <p>© 2021 Blog. All Rights Reserved.</p>
      </div>

    </section>
  </div>
</footer>