<app-header [currentCategory]="category"></app-header>
<main>
  <div class="container" id="articles">
    <app-article [currentArticle]="article2" [currentCategory]="category"></app-article>
    <app-article [currentArticle]="article2" [currentCategory]="category"></app-article>
    <app-article [currentArticle]="article2" [currentCategory]="category"></app-article>
    <app-article [currentArticle]="article2" [currentCategory]="category"></app-article>
    <app-article [currentArticle]="article2" [currentCategory]="category"></app-article>
    <app-article [currentArticle]="article2" [currentCategory]="category"></app-article>
  </div>
</main>
